canvas{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

#preload{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background:url('../images/view.jpg') no-repeat center center;
  background-size:100% 100%;
}

#progress{
  position:absolute;
  width:300px;
  height:50px;
  left: -webkit-calc((100% - 300px) / 2);
  left: -moz-calc((100% - 300px) / 2);
  bottom: 10%;
  overflow:hidden;
}
#num {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#bar {
	background: yellow;
	width: 0%;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
    z-index:1;
    opacity:0.3;
}
